{
  "root": true,
  "extends": [
	"@nuxt",
	"prettier",
	"plugin:prettier/recommended"
  ],
  // The same as "@nuxt/eslint-config", "plugin:eslint-plugin-prettier/recommended", "eslint-config-prettier"
  "env": {
	"browser": true,
	"node": true
  }
}
